.cabecalhoPrincipal .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cabecalhoPrincipal-nav {
   display: flex;
}

.rodapePrincipal-patrocinadores .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 70%;
   margin-right: 5%;
}

.rodapePrincipal-navMap-list {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 255px;
}

.conteudoPrincipal-cursos {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.conteudoPrincipal-cursos-link {
   width: 23%;
}

@media (max-width: 580px) {
   .cabecalhoPrincipal-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .cabecalhoPrincipal-nav .cabecalhoPrincipal-nav-link {
      display: flex;
      justify-content: center;
   }

   .cabecalhoPrincipal .container {
      flex-direction: column;
   }

   .conteudoPrincipal-cursos {
      flex-direction: column;
   }

   .conteudoPrincipal-cursos-link {
      width: 100%;
   }

   .rodapePrincipal-navMap-list {
      align-items: center;
      height: auto;
   }
}